<div class="container">
  <div class="jumbotron">
    <h1> <a href="/"> ZOMATO</a> </h1> 
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>RESTAURANT</th>
      </tr>
    </thead>
    <tbody>
      <!-- REVIEW: Why are you not using iterators? -->
    <%
      rest.each do |z| %>
      <tr>
        <td><a href="details/<%=z.id %>" > <%= z.name%> </a></td>
     </tr>
    <% end %>   
    </tbody>
  </table>
</div>
