<div class="container">
  <div class="jumbotron">
    <h1> <a href="/"> ZOMATO</a> </h1> 
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>RESTAURANT</th>
      </tr>
    </thead>
    <tbody>
      <!-- REVIEW: Why are you not using iterators? -->
    <%@names = @rest_var[0]
      @id = @rest_var[1]
      for i in 0..@names.length-1 %>
      <tr>
        <td><a href="details/<%=@id[i] %>" > <%= @names[i]%> </a></td>
     </tr>
    <% end %>   
    </tbody>
  </table>
</div>
