<div class="container">
  <div class="jumbotron">
  	<h1> <a href="/"> ZOMATO</a> </h1> 
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>LOCALITY</th>
      </tr>
    </thead>
    <tbody>
    <% local.each do |y|%>
      <tr>
        <td><a href="restaurant/<%=y.id %>"> <%= y.name%> </a></td>
        
     </tr>
    <% end %>   
    </tbody>
  </table>
</div>

